/* Custom styles for responsive alignment */
@media (min-width: 992px) {
  .navbar-nav .nav-item span {
    display: inline-block;
  }
  .order-4 {
    display: none;
  }

  #about-page h1,
  #about-page h2 {
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  #about-page h2 {
    font-size: 28px;
    font-family: Libre Baskerville;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
  }
  .about-container {
    display: block;
    flex-direction: column-reverse; /* Align items in a row */
    align-items: normal; /* Center items vertically */
    height: auto;
    max-width: 100%;
    padding: 20px; /* Add padding */
    margin: 40px 0; /* Add margin */
    border: 1px solid #e3e0df;
    border-radius: 5px;
    color: rgb(59, 32, 13);
  }
  #about-page .about-container p {
    font-size: 20px;
    font-family: EB Garamond;
    font-weight: 500;
    text-align: none;
    background-color: transparent; /* Remove background color */
  }

  .project-card-2 {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Center items vertically */
    height: auto;
    max-width: 100%;
    padding: none; /* Add padding */
    margin: none; /* Add margin */
    border: 1px solid #e3e0df;
    border-radius: 5px;
    margin-left: -50px; /* Move the card more to the left */
  }

  .project-card-2 .project-card-img {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 25px; /* Add some margin to the right */
  }

  .project-card-2 .card-body {
    flex: 2; /* Allow the body to take up remaining space */
  }

  .project-card-3 {
    display: flex;
    flex-direction: row-reverse; /* Align items in a row with image on the right */
    align-items: center; /* Center items vertically */
    height: auto;
    max-width: 100%;
    padding: 20px; /* Add padding */
    margin: 40px 0; /* Add margin */
    border: 1px solid #e3e0df;
    border-radius: 5px;
  }

  .project-card-3 .project-card-img {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 25px; /* Add some margin to the left */
  }

  .project-card-3 .card-body {
    flex: 1; /* Allow the body to take up remaining space */
  }
}

hr {
  border: 5px solid #e3e0df;
}

/* Custom styles for container card */
.container-card-img {
  padding: 50px; /* Add padding to the image */
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Set a maximum width */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the container */
  aspect-ratio: 1 / 1; /* Ensure the image is square */
  object-position: -0px -25px; /* Center the image within its container */
}

/* Custom styles for card */
.card {
  max-width: 100%; /* Adjust the width as needed */
  margin-left: 0; /* Left align the card */
  padding-bottom: 20px; /* Add padding to the bottom */
  margin-top: 20px;
  background-color: rgb(247, 196, 239);
}

/* Custom styles for project card images */
.project-card-img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Set a maximum width */
  object-fit: cover; /* Ensure the image covers the container */
}

.smaller-img {
  width: 100%; /* Make the image smaller */
  height: auto; /* Maintain aspect ratio */
  float: left; /* Float the image to the left */
  margin-right: 15px; /* Add some margin to the right */
}

.project-card-2 {
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
  height: auto;
  max-width: 100%;
  padding: 20px; /* Add padding */
  margin: 40px 0; /* Add margin */
  border: 1px solid #e3e0df;
  border-radius: 5px;
}

.project-card-2 .project-card-img {
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 25px; /* Add some margin to the right */
}

.project-card-2 .card-body {
  flex: 1; /* Allow the body to take up remaining space */
}

.project-card-3 {
  display: flex;
  flex-direction: row-reverse; /* Align items in a row with image on the right */
  align-items: center; /* Center items vertically */
  height: auto;
  max-width: 100%;
  padding: 20px; /* Add padding */
  margin: 40px 0; /* Add margin */
  border: 1px solid #e3e0df;
  border-radius: 5px;
}

.project-card-3 .project-card-img {
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 25px; /* Add some margin to the left */
}

.project-card-3 .card-body {
  flex: 1; /* Allow the body to take up remaining space */
}
.abt-page-b {
  background: radial-gradient(
    879px at 10.4% 22.3%,
    rgb(255, 235, 238) 0%,
    rgb(186, 190, 245) 93.6%
  );
}
p {
  font-weight: 900px;
  font-size: 15px;
  font-family: EB Garamond;
  text-align: center;
  background-color: rgba(87, 10, 54, 0.803);
  border-left: 5px solid rgb(245, 241, 236);
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
}

h5 {
  font-weight: 300px;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  font-family: EB Garamond;
}
.nav-item {
  color: #dd7171;
  font-size: 20px;
  font-weight: bold;
}
h6 {
  display: relative;
  font-weight: bold;
  font-size: 25px;
  font-family: Libre Baskerville;
  text-align: center;
  color: rgb(49, 159, 238);
}

.occupation {
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  padding: none;
  text-align: center;
  color: rgb(14, 7, 19);
}

body {
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
}

.card-body {
  margin-bottom: 50px;
}

/* Responsive styles for smaller screens */
@media (max-width: 991px) {
  #about-page h1 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }
  #about-page {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border: none;
    border-radius: 10px;
  }
  #about-page p {
    font-size: 14px;
    text-align: center;
    color: rgb(28, 1, 13);
    background: rgba(191, 147, 229, 0.396);
    border-left: none;
  }
  #about-page h2,
  #about-page h1 {
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: rgb(206, 26, 206);
  }

  #about-page h1 {
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: rgb(81, 10, 109);
  }
  #about-page .project-card-2,
  #about-page .project-card-3 {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  #about-page .project-card-2 .project-card-img,
  #about-page .project-card-3 .project-card-img {
    width: 100%; /* Make the image full width */
    margin: 0 0 15px 0; /* Reset margins */
  }

  #about-page .project-card-2 .card-body,
  #about-page .project-card-3 .card-body {
    width: 100%; /* Make the body full width */
  }
}
.home-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #f0adda;
  border-radius: 15px;
  background-color: #270331;
  cursor: pointer;
  font-size: 20px;
  color: rgb(203, 191, 214);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: blueviolet;
}
.nav-link {
  color: blueviolet;
}
